@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --primary-color: #4f46e5;
    --primary-bg: #959add;
    --secondary-color: #f0f0f0;
    --font-size: 16px;
}



.avatar.online:before,
.avatar.offline:before {
    content: "";
    width: 8px;
    height: 8px;
    top: 1%;
    right: 1%;
    position: absolute;
    outline-width: 1px;

}

.avatar.online:before {
    background-color: var(--primary-color);
}


.avatar {
    position: relative;
}

.chat-bubble-info {
    background-color: var(--primary-bg);
}

.chat-bubble-info p {
    color: var(--primary-color);
    /* color: white; */
    word-wrap: break-word;
}

.user-name {
    font-weight: bold;
    /* font-size: var(--font-size); */
    color: var(--primary-color);
}

.chat.chat-start .chat-bubble {
    background: #fbe9da;
}

.chat-message .chat-message-content {
    color: #434343;
}

.chat-message-content>blockquote,
.chat-message-content>dl,
.chat-message-content>dd,
.chat-message-content>h1,
.chat-message-content>h2,
.chat-message-content>h3,
.chat-message-content>h4,
.chat-message-content>h5,
.chat-message-content>h6,
.chat-message-content>hr,
.chat-message-content>figure,
.chat-message-content>p,
.chat-message-content>pre {
    margin-top: 0;
    margin-bottom: 5px;
}

.chat-message-content>ol,
.chat-message-content>ul {
    list-style: revert;
    margin: revert;
    padding: revert;
}

.chat-message-content>table {
    border-collapse: revert;
}

.chat-message-content>h1,
.chat-message-content>h2,
.chat-message-content>h3,
.chat-message-content>h4,
.chat-message-content>h5,
.chat-message-content>h6 {
    font-size: revert;
    font-weight: revert;
}

.chat-message-content a {
    text-decoration: underline;
    color: #ffffff;
}

.chat-message-content> :first-child {
    margin-top: 0;
}

.chat-message-content> :last-child {
    margin-bottom: 0;
}

.chat-message-content>blockquote {
    border-left: 5px solid #ccc;
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}

.chat-message-content code {
    font-family: 'Courier New', monospace;
    font-style: italic;
    padding: 2px 4px;
    border-radius: 6PX;
    font-size: 90%;
    text-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.1);
}

.chat-message-content pre {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1rem;
    white-space: no-wrap;
    overflow-x: auto;
    font-style: italic;
    border-radius: 0.5rem;

}

.chat-message-content pre code {
    background-color: transparent;
}

.EmojiPickerReact.epr-dark-theme {
    --epr-emoji-size: 25px;
}