@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --primary-color: #4f46e5;
    --primary-bg: #959add;
    --secondary-color: #f0f0f0;
    --font-size: 16px;
}



.avatar.online:before,
.avatar.offline:before {
    content: "";
    width: 8px;
    height: 8px;
    top: 1%;
    right: 1%;
    position: absolute;
    outline-width: 1px;

}

.avatar.online:before {
    background-color: var(--primary-color);
}


.conversation-item .avatar {
    position: relative;
}

.chat-bubble {
    max-width: 80%;
}

.chat-bubble-info {
    background-color: rgb(228, 228, 228);
}

.chat-bubble-info.self {
    background-color: var(--primary-bg);
}

.chat-bubble-info.self p {
    color: var(--primary-color);
    /* color: white; */
    word-wrap: break-word;
}

.chat-bubble .chat-bubble-info p {
    background-color: #959add;
}

.user-name {
    font-weight: bold;
    /* font-size: var(--font-size); */
    color: var(--primary-color);
}